* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}


body {
    background: linear-gradient(135deg, #009739 0%, #006B2B 50%, #002E11 100%);
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #FFDF00;
}

h4 {
    text-align: center;
    color: #b8a004;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #0e3d02;
    font-weight: bold;
}

.btn-fases {

    background-color: #FFDF00;
    border: 1px solid #045308;
    border-radius: 15px;
    width: 175px;
    height: 35px;
}

hr {
    border: none;
    height: 2px;
    background-color: #0b5332;
}

.nav-fases {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.container-grupos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17%;
    padding-top: 30px;
    gap: 20px;
}

.item-container {
    width: 38%;
    height: 600px;
    background-color: #0b531b;
    border: 3px solid rgb(2, 114, 71);
    border-radius: 19px;
    text-align: center;
    

}